<template name="Recipes">
    {{> NewRecipe}}
    <section class="recipes">
        {{#if Template.subscriptionsReady}}
            {{#each recipes}}
                {{> recipe}}
            {{/each}}
        {{else}}
            <p>Loading...</p>
        {{/if}}
    </section>
</template>