<template name="recipe">
    <article class="recipe">
        <h3>{{name}}</h3>
        <p>{{desc}}</p>
        <p>
            {{#each ingredients}}
                <span class="ingredient">
                    {{name}} - {{amount}}
                </span>
            {{/each}}
        </p>
        <a href="/recipe/{{_id}}">View Details</a>
    </article>
</template>